body{
  overflow-y:scroll;
}

@font-face {
  font-family: "Ethnocentric"; /*Can be any text*/
  src: local("font"), url("../src/assest/font.otf") format("truetype");
}

@font-face {
  font-family: "Inter"; /*Can be any text*/
  src: local("font"), url("../src/assest/inter.ttf") format("truetype");
}

.enter-mobile-text {
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #001233;
}
.confirm-mobile-text {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #7d8597;
}
.mobile-container {
  display: flex;
  gap: 15px;
  margin-top: 5px;
  margin-top: 16px;
}
.country-input {
  width: 30%;
}
.mobile-input {
  width: 100%;
}
.mobile-container input {
  border-top: none;
  border-left: none;
  border-right: none;
  padding-bottom: 12px;
  color: #d5d8de;
  outline: none;
  width: 100%;
}
.mobile-input ::placeholder {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.continue-button-container {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  margin-bottom: -2rem;
}

.button-continue-style {
  width: Fixed (353px);
  height: Fixed (56px);
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 110px;
  padding-right: 110px;
  border-radius: 28px;
  gap: 8px;
  background-color: #dae5fb;
  color: white;
  border: none;
}

.button-continue-style:hover {
  cursor: pointer;
}

.or-container {
  text-align: center;
}

.line {
  height: 1px;
  background: #eaebee;
}

h5 {
  position: relative;
  top: 32px;
  background: #fff;
  display: inline-block;
  padding: 0 8px;

  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #7d8597;
}

.continue-google-container {
  border-radius: 15px;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.continue-google-container button {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 52px;
  padding-right: 52px;
  border-radius: 28px;
  gap: 11px;
  border: solid 1px #eaebee;
  background-color: #fff;
}

.continue-google-container button:hover {
  cursor: pointer;
}

.continue-google-container button div:nth-child(2) {
  font-family: Inter;
  font-size: 17px;
  display: flex;
  align-content: center;
  align-items: center;
  margin-top: 5px;
}

.terms-condition {
  padding-top: 10px;
  font-family: Inter;
  font-size: 12px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: center;
  color: #5c677d;
}

.terms-condition span {
  color: #467ceb;
}

.terra-logo {
  font-family: Ethnocentric;
  font-size: 18px;
  font-weight: 400;
  line-height: 74px;
  letter-spacing: -0.07em;
  text-align: left;
  color: #467ceb;
  display: flex;
  justify-content: center;
}

.terra-logo img {
  width: 20px;
}
.terra-logo span {
  margin-top: 5px;
  margin-left: 4px;
}

.container-logo-terms {
  margin-top: 6rem;
}

.search-input input {
  border: 1px solid black;
  width: 100%;
  background-color: #f5f5f7;
  border: none;
  padding-top: 8px;
  padding-bottom: 8px;
  outline: none;
  padding-left: 2.5rem;
}

.search-input {
  display: flex;
  justify-content: center;
}

.search-icon-setting {
  position: absolute;
  margin-right: 15rem;
  margin-top: 0.25rem;
}

.close-button {
  display: flex;
  justify-content: space-between;
}

.close-button div:nth-child(2):hover {
  cursor: pointer;
}

/* CSS OTP */

.mobile-verification-title {
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #001233;
}

.mobile-verification-number {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #7d8597;
  margin-top: 3px;
}

.title-container {
  display: flex;
  gap: 5px;
}
.image-container {
  width: 24px;
  margin-top: 3px;
  height: 24px;
}

.otp-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.input-style {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #d5d8de;
  outline: none;
  font-family: Inter;
  font-weight: 600;
  size: 18px;
  padding-left: 1rem;
  padding-right: 1rem;
}
.input-style:focus {
  border-bottom: 1px solid #467ceb;
}

.resend-code {
  margin-top: 15px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
  color: #d5d8de;
}

.timer {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
  color: #001233;
}

/* css what's your name */
.name-text {
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #001233;
}

.name-container {
  display: flex;
  gap: 10px;
}
.image-name {
  margin-top: 2px;
}

.enter-name {
  margin-top: 1.5rem;
}
.enter-name input {
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 2px #d5d8de;
  width: 100%;
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  padding-bottom: 0.5rem;
}
.enter-name input:focus {
  border-bottom: solid 2px #467ceb;
}

.enter-name input::placeholder {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
}

.button-container-name button {
  background-color: #467ceb;
  margin-top: 5rem;
  border-radius: 28px;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  color: white;
  border: none;
  font-weight: 600;
  size: 18px;
}


/* add vechile */
.select-vechile-title{
font-family: Inter;
font-size: 20px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0em;
text-align: center;
}
.vechile-title{
font-family: Inter;
font-size: 18px;
font-weight: 500;
line-height: 22px;
letter-spacing: 0em;
text-align: left;
margin-top: 1rem;

}
.image-container-vechile{
  margin-top: 1rem;
}

.image-container-vechile:hover{
  cursor: pointer;
}
.vehicle-search-box input{
   width: 100%;
   background-color: #d5d8de;
   border:2px solid #d5d8de;
   margin-top:1rem;
   padding-top:12px;
   padding-bottom:12px;
   outline: none;
   border-radius: 5px;   
}
.vehicle-search-box input::placeholder{
padding-left:2rem;
font-family: Inter;
font-size: 18px;
font-weight: 500;
line-height: 22px;
letter-spacing: 0em;
text-align: left;

}

.search-icon{
  position: absolute;
  margin-top: 1.5rem;
  margin-left: .55rem;
}

.slider-image{
  height: 60px;
}
.slider-image:hover{
  cursor: pointer;
}
.slider-container{
  margin-top: 1rem;
}
.all-text-slider{
  color: #467CEB;
  background-color: #DAE5FB;
margin-top: 5px;
 height: 100%;
 width: 50%; 
 border-radius: 50%;
 font: Inter;
 font-weight: 500;
 font-size: 20px;
}

.all-text-slider div{
  display: flex;
  justify-content: center;
  padding: 15px;
  
}
.all-text-slider:hover{
  cursor: pointer;
}

.image-container-select-vechile{
 display: flex;
 justify-content: center;
 padding-top: 1rem;
 padding-bottom: 1rem;
 background-color: #F5F5F7;
}

.card-container{
  margin-top: 1rem;
}
.card-vechile-text{
  display: flex;
  gap: 10px;

}
.card-tagline{
font-family:Inter ;
font-weight: 500;
font-size:16px;
}

.card-logo-container{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.card-logo{
display: flex;
gap:5px;
}

.card-logo-text{
font-family: Inter;
font-size: 12px;
font-weight: 500;
line-height: 16px;
letter-spacing: 0em;
text-align: left;

}
